# Linear Regression

Tên: Phùng Nghĩa Phúc
MSV: 20127284
Lớp: 20CLC07

In [1]:
import pandas as pd
df = pd.read_csv('C:/Users/Decane/Desktop/toan thong ke/project 3- linear regression/wine.csv', sep=';')
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1194,7.0,0.745,0.12,1.8,0.114,15.0,64,0.99588,3.22,0.59,9.5,6
1195,6.2,0.430,0.22,1.8,0.078,21.0,56,0.99633,3.52,0.60,9.5,6
1196,7.9,0.580,0.23,2.3,0.076,23.0,94,0.99686,3.21,0.58,9.5,6
1197,7.7,0.570,0.21,1.5,0.069,4.0,9,0.99458,3.16,0.54,9.8,6
1198,7.7,0.260,0.26,2.0,0.052,19.0,77,0.99510,3.15,0.79,10.9,6

## a. Sử dụng toàn bộ 11 đặc trưng đề bài cung cấp,
y=theta_1x_1+theta_2x_2+...+theta_11x_11

In [2]:
import numpy as np

In [3]:
def getAB(a, b):
    return np.hstack((np.ones((a.shape[0], 1)), a)), b

In [4]:
x = np.array(df.iloc[:, :-1])
y = np.array(df.iloc[:, -1]).reshape(-1, 1)

a, b = getAB(x, y)
theta = (np.linalg.pinv(a)@b)

ans = np.round(theta,1)
ans

array([[ 42.9],
       [  0. ],
       [ -1.1],
       [ -0.3],
       [  0. ],
       [ -1.6],
       [  0. ],
       [ -0. ],
       [-39.5],
       [ -0.2],
       [  0.8],
       [  0.3]])

In [5]:
r_score = np.round((np.linalg.norm(a@theta - b)), 3)

r_score

22.095

## b. Sử dụng duy nhất 1 đặc trưng cho kết quả tốt nhất. (Gợi ý: Phương pháp Cross Validation) 
y=theta_ix_i (dùng mô hình lần lượt cho từng đặc trưng).

In [6]:
def r_score(x, y):
    result = 0
    
    new_X = np.array_split(x, min(len(x), 5))
    new_Y = np.array_split(y, min(len(y), 5))
    
    for i in range(5):
        x_test = new_X[i]
        y_test = new_Y[i]
        
        x_train = np.array([])
        y_train = np.array([])
        
        for j in range(5):
            if i != j:
                x_train = np.append(x_train, new_X[j])
                y_train = np.append(y_train, new_Y[j])
                
        x_train = x_train.reshape(-1, 1)
        y_train = y_train.reshape(-1, 1)
        
        new_A, new_B = getAB(x_train, y_train)
        old_A, old_B = getAB(x_test, y_test)
        
        theta = np.linalg.pinv(new_A) @ new_B
        
        r_score = np.linalg.norm(old_A @ theta - old_B)
        result += r_score
    
    return result/5

In [7]:
def cross_validation(df):
    result = []
    y = np.array(df.iloc[:, -1]).reshape(-1, 1)
    
    for i in df.columns[:-1]:
        x = np.array(df[i]).reshape(-1, 1)
        r = r_score(x, y)
        result.append([r, i]) 
    return result[-1]
cross_validation(df)

[10.896303487242815, 'alcohol']

In [8]:
r_score, name = cross_validation(df)

print(f'Đặc trưng cho kết quả tốt nhất là {name} và r = {np.round(r_score,3)}')

Đặc trưng cho kết quả tốt nhất là alcohol và r = 10.896

## c. Xây dựng một mô hình của riêng bạn cho kết quả tốt nhất.

In [9]:
def r_score(x, y):
    x_test = x[1000:]
    y_test = y[1000:]
    
    x_train = x[:1000]    
    y_train = y[:1000]
    
    new_A, new_B = getAB(x_train, y_train)
    old_A, old_B = getAB(x_test, y_test)

    theta = np.linalg.pinv(new_A) @ new_B
    
    result = np.linalg.norm(old_A @ theta - old_B)
    return result

In [10]:
def calculator(df):
    result = []
    y = np.array(df.iloc[:, -1]).reshape(-1, 1)
    
    for i in df.columns[:-1]:
        x = np.array(df[i]).reshape(-1, 1)
        r = r_score(x, y)   
        result.append([r, i])
    return result[-1]
calculator(df)

[9.862217648422789, 'alcohol']

In [11]:
r_score, name = calculator(df)

print(f'Đặc trưng cho kết quả tốt nhất là {name} và r = {np.round(r_score,3)}')

Đặc trưng cho kết quả tốt nhất là alcohol và r = 9.862